# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Build directories
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/

# Other
*.log
*.swp

# Ignore project files
MedImageAugment.py
setup.py
README.md